<h1>本当に削除していいですか？</h1>

<p>ユーザー名:
  <%= @user.name %>
</p>

<p>Eメール:
  <%= @user.email %>
</p>

<p>住所:
  <%= @user.address %>
</p>

<%= form_tag("/users/#{HASHIDS.encode(@user.id)}", method: :delete) do %>
  <input type="submit" value="削除する">
<% end %>