<h1>フォローした人の投稿一覧</h1>
<br>
<% @followeds.each do |followed| %>
  <% items = Item.where(user_id: followed.followed_user) %>
  <% items.each do |item| %>
    <%= render "items/card", item: item %>
  <% end %>
<% end %>