<h1>パスワードを変更する</h1>

<%= form_tag("/users/#{@hashids.encode(@current_user.id)}/password_chage", method: :post, class: "needs-validation") do %>

<div class="mb-3">
  <label for="password_now" class="form-label">現在のパスワード:</label>
  <input type="password" class="form-control" name="password_now" id="password_now" title="現在のパスワードを入力してください"  placeholder="現在のパスワード"  minlength="5" required>
</div>

<div class="mb-3">
  <label for="password_new" class="form-label">新しいパスワード(5文字以上):</label>
  <input type="password" class="form-control" name="password_new" id="password_new" title="新しいパスワードを入力してください"  placeholder="新しいパスワード"  minlength="5" required>
</div>

  <button type="submit" class="btn btn-primary">登録</button>
<% end %>