<h1>物々交換リクエスト商品</h1>

<% @trades.each do |trade| %>
<% item=Item.find_by(id: trade.item_offered_id) %>
<%= link_to(item.name,"/items/#{item.id}") %>

<% if(@item.user.id==@current_user.id) %>
<%= link_to("物々交換する", "/items/#{@item.id}/#{item.id}/detail", data: { turbo_method: "post" }) %>  

<%end%>

<% end %>