<h1>物々交換リクエスト商品</h1>

<% @trades.each do |trade| %>
  <br>
  <% item = Item.find_by(id: trade.item_offered_id) %>
  <%= render "items/card", item: item %>

  <% if @item.user.id == @current_user.id %>
        <%= link_to "この商品と物々交換する", "/items/#{@hashids.encode(@item.id)}/#{@hashids.encode(item.id)}/detail", class: "btn btn-success mt-2", data: { turbo_method: "post" } %>
  <% end %>
  <br>
<% end %>
