<h1>出品登録</h1>

<%= form_tag("/items/create",{multipart: true}) do %>
  <p>
    <label for="name">タイトル:</label>
    <input type="text" name="name" id="name" title="タイトルを入力してください" placeholder="タイトル"   required>
  </p>
  <p>
    <label for="author">作者:</label>
    <input type="text" name="author" id="author" title="作者を入力してください" placeholder="作者"   required>
  </p>
  <p>
    <label for="publisher">出版社:</label>
    <input type="text" name="publisher" id="publisher" title="出版社を入力してください" placeholder="出版社"   required>
  </p>
  <p>
    <label for="content">内容:</label>
    <textarea id="content" name="content" rows="4" cols="50" title="内容を入力してください" placeholder="内容"  required></textarea>
  </p>
  <div>
    <label for="condition">状態</label>
    <select name="condition" id="condition">
      <option value="良い">良い</option>
      <option value="普通">普通</option>
      <option value="悪い">悪い</option>
    </select>
  </div>

  <p>
    <label for="recommend_point">おすすめ度:</label>
    <input type="range" name="recommend_point" id="recommend_point" min="1" max="5"  required>
  </p>

  <p>
    <label for="help_point">役に立った度:</label>
    <input type="range" name="help_point" id="help_point" min="1" max="5"  required>
  </p>

  <p>
    <label for="learn_point">学びになった度:</label>
    <input type="range" name="learn_point" id="learn_point" min="1" max="5"  required>
  </p>
  <p>
    <label for="category">カテゴリー:</label>
    <input type="text" name="category" id="category" title="カテゴリーを入力してください" placeholder="カテゴリー"  required>
  </p>
  <p>
    <label for="image">画像:</label>
    <input type="file" name="image" id="image" title="画像を入力してください" placeholder="画像"  >
  </p>
  <input type="submit" value="投稿">
<% end %>