<h1>出品登録</h1>

<%= form_tag("/items", { multipart: true, method: :post }) do %>

  <div class="mb-3">
    <label for="title" class="form-label">タイトル</label>
    <input type="text" class="form-control" name="title" id="title" title="タイトルを入力してください" placeholder="タイトル"   required>
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">作者</label>
    <input type="text" class="form-control" name="author" id="author" title="作者を入力してください" placeholder="作者"   required>
  </div>
  <div class="mb-3">
    <label for="publisher" class="form-label">出版社</label>
    <input type="text" class="form-control" name="publisher" id="publisher" title="出版社を入力してください" placeholder="出版社"   required>
  </div>
  <div class="mb-3">
    <label for="content" class="form-label">本の内容や感想</label>
    <textarea id="content" class="form-control" name="content" rows="4" cols="50" title="内容や感想を入力してください" placeholder="内容や感想"  required></textarea>
  </div>
  <div class="mb-3">
    <label for="condition" class="form-label">本の状態</label>
    <select name="condition" class="form-select" id="condition">
      <option value="良い">良い</option>
      <option value="普通">普通</option>
      <option value="悪い">悪い</option>
    </select>
  </div>

  <div class="mb-3">
    <label for="help_point" class="form-label">仕事で役に立った度</label>
    <input type="range" class="form-range" name="help_point" id="help_point" min="1" max="5"  required>
  </div>

  <div class="mb-3">
    <label for="learn_point" class="form-label">学びになった度</label>
    <input type="range" class="form-range" name="learn_point" id="learn_point" min="1" max="5"  required>
  </div>


  <div class="mb-3">
    <label for="recommend_point" class="form-label">おすすめ度</label>
    <input type="range" class="form-range" name="recommend_point" id="recommend_point" min="1" max="5"  required>
  </div>


  <div class="mb-3">
    <label for="category" class="form-label">カテゴリー</label>
    <input type="text" class="form-control" name="category" id="category" title="カテゴリーを入力してください" placeholder="カテゴリー"  required>
  </div>
  <div class="mb-3">
    <label for="image" class="form-label">画像</label>
    <input type="file" class="form-control" name="image" id="image" title="画像を入力してください" placeholder="画像" required>
  </div>
  <input type="submit" class="btn btn-success" value="投稿">
<% end %>
<br>
