<%= form_tag("/items/search", { method: :post }) do %>

<div class="mb-3">
  <label for="search" class="form-label"><h3>タイトル検索</h3></label>
  <div class="d-flex">
    <input type="text" class="form-control me-2" name="search" id="search" placeholder="検索" required style="width: 300px;">
    <input type="submit" class="btn btn-success" value="検索">
  </div>
</div>

<%end%>

<h3>カテゴリー一覧</h3>
<ul>
  <% @categorize.each do |category| %>
    <li><%= link_to(category, "/items/category/#{category}") %></li>
  <% end %>
</ul>

<h3>作家一覧</h3>
<ul>
  <% @authors.each do |author| %>
    <li><%= link_to(author, "/items/author/#{author}") %></li>
  <% end %>
</ul>

<h3>出版社一覧</h3>
<ul>
  <% @publishers.each do |publisher| %>
    <li><%= link_to(publisher, "/items/publisher/#{publisher}") %></li>
  <% end %>
</ul>