<div class="d-flex flex-column align-items-center">
  <%= form_tag("/items/title_search", { method: :post }) do %>
    <div class="mb-3">
      <label for="title_name" class="form-label"><h3>タイトル検索</h3></label>
      <div class="d-flex">
        <input type="text" class="form-control me-2" name="title_name" id="title_name" placeholder="検索" required style="width: 300px;">
        <input type="submit" class="btn btn-success" value="検索">
      </div>
    </div>
  <% end %>
</div>

<h3>カテゴリー一覧</h3>
<div class="list-container">
  <% @categorize.each_slice(2) do |categories| %>
    <div class="list-row">
      <% categories.each do |category| %>
        <div class="list-item">
          ● <%= link_to(category, "/items/category/#{category}") %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h3>作家一覧</h3>
<div class="list-container">
  <% @authors.each_slice(2) do |authors| %>
    <div class="list-row">
      <% authors.each do |author| %>
        <div class="list-item">
          ● <%= link_to(author, "/items/author/#{author}") %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<h3>出版社一覧</h3>
<div class="list-container">
  <% @publishers.each_slice(2) do |publishers| %>
    <div class="list-row">
      <% publishers.each do |publisher| %>
        <div class="list-item">
          ● <%= link_to(publisher, "/items/publisher/#{publisher}") %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>